---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<div class="list__item">
<h2 class="archive__item" itemprop="headline">
  At previous universities
</h2>
<p> I have also worked as TA for the courses Business Process Integration and Information Systems Analysis and Design as a PhD student at Tilburg University, and Databases I, Databases II, and Introduction to Software (Java) as a post-graduate student at the University of Patras. </p>
</div> 