---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

I have also worked as TA for the courses Business Process Integration and Information Systems Analysis and Design at Tilburg University, and Databases I, Databases II, and Introduction to Software (Java) at the University of Patras. 

There are open thesis subjects on cloud engineering, blockchain, and their intersection posted in the <a href="http://www.cs.rug.nl/search/Teaching/StudentProjects">SE group page</a>.